/* From Uiverse.io by Centered101 */
.card {
  /* width: 380px;
  height: 450px; */
  background-color: transparent;
  overflow: hidden;
  /* background: rgb(240, 95, 103); */
  /* background: linear-gradient(
    90deg,
    rgba(240, 95, 103, 1) 0%,
    rgba(254, 189, 113, 1) 100%
  ); */
  border-radius: 32px;
  border: 2px solid #f55d56;
  /* padding: 4px; */
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}

.card .profile-pic {
  position: absolute;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  top: -1px;
  left: 0px;
  border-radius: 32px;
  z-index: 1;
  /* border: 0px solid #5a4ae3;
  background-color: yellow; */
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
  -o-object-fit: center;
  object-fit: center;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.card .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.card .bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgb(240, 95, 103);
  background: linear-gradient(
    90deg,
    rgba(240, 95, 103, 1) 0%,
    rgba(254, 189, 113, 1) 100%
  );
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
  position: absolute;
  top: 0%;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.card .bottom .content .name {
  display: block;
  /* font-size: 1.7rem; */
  font-weight: bold;
  font-family: "League Spartan";
  margin-bottom: 18px;
  /* margin-top: 35px; */
  text-align: center;
  /*   
  -webkit-background-clip: text; /* For WebKit browsers */
  /* background-clip: text; For other browsers */
  color: black; /* Make text color transparent to show gradient */
  /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); */
}

.card .bottom .content .about-me {
  display: block;
  /* font-size: 1.2rem; */
  color: white;
  /* margin-top: 0rem; */
  text-align: justify;
}

.card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.card .bottom .bottom-bottom .social-links-container svg {
  height: 20px;
  fill: yellow;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.card .bottom .bottom-bottom .social-links-container svg:hover {
  fill: #f55d56;
  transform: scale(1.2);
}

.card .bottom .bottom-bottom .button {
  background: white;
  color: #5a4ae3;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card .bottom .bottom-bottom .button:hover {
  background: #f55d56;
  color: #5a4ae3;
}

.card:hover {
  border-top-left-radius: 55px;
}
.card:hover {
  border: 0px solid black;
}
.card:hover .bottom .content .name {
  margin-top: 60px;
}
.card:hover .bottom {
  top: 12%;
  border-radius: 130px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #ff916f;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}
